* {
	transition: all 0.2s;
}
body {
	padding-top: 30px;
}
.tab-content {
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 10px;
}

.portfolio p{
	margin: 30px 0 50px 0;
}
.portfolio button{
	margin-bottom: 30px;
}
.nav{
	padding-left: 20px;
}
.info{
	margin: 10px 0;
}